extends ../layout.pug

block head
  title Contact Form

block body
  table(cellspacing="0", cellpadding="0")
    tr
      td Name
      td #{firstName} #{lastName}
    tr
      td E-mail Address
      td #{email}
    tr
      td Phone Number
      td #{phone}
    tr
      td Job Title
      td #{jobTitle}
    tr
      td School Name
      td #{schoolName}
    tr
      td State/Region
      td #{state}
    tr
      td Number of Students
      td #{students}
    tr
      td What best describes your school
      td #{describe}
    tr
      td Comments, questions, concerns
      td #{comments}
